torch
torchvision
torchaudio
xformers
diffusers
transformers
accelerate
einops
spandrel
opencv-python
Pillow
numpy
gradio
huggingface_hub
aria2
torchsde
av
scipy
sentencepiece
safetensors
omegaconf
comfy-cli
fastapi
uvicorn
python-multipart
nest_asyncio
